<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://leerlevels.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/77165f22-39ac-48c3-9768-d70dd3de7f63/resourceGroups/LeerLevels/providers/Microsoft.Web/sites/leerlevels</ResourceId>
    <UserName>$leerlevels</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://leerlevels.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>